@use "sass:math";
@use "sass:list";

// import
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Notch:wght@200..700&display=swap');

// variables
$template-color: [
#B2BEB5, #7393B3, #36454F, #A9A9A9, #6082B6, #808080, #818589, #D3D3D3, #899499, #E5E4E2, #C0C0C0, #708090, #848884, #71797E
];

@mixin random_bg{
  background-color: list.nth($template-color, math.floor(math.random(list.length($template-color))));
}

@mixin heading_default_font {
  font-family: "Poppins", SansSerif, serif;
}