<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> Varinata: <strong th:text="${testData.variant}"></strong> </p>
<p> Předmět: <strong th:text="${testData.subjectName}"></strong> </p>

<ol th:each="question : ${questions}">
    <li>
        <strong th:text="${question.question}"></strong>
        <ol th:each="anwser : ${question.answers}">
            <li th:text="${anwser}"></li>
        </ol>
        <strong style="color: lawngreen" th:text="${question.correctAnswer}"></strong>
    </li>
</ol>


</body>
</html>